link(rel='stylesheet' type='text/css' href='style/template-1.css')
.header
  .section-title(style='display:none') Header
  .name(contentEditable='true' ng-blur='vm.emit($event)') #{baseInfo.name}
  .row
    .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{baseInfo.address.street}
  .row
    .left-third(contentEditable='true' ng-blur='vm.emit($event)') #{baseInfo.phone}
    .right-third(contentEditable='true' ng-blur='vm.emit($event)') #{baseInfo.email}
    .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{baseInfo.address.cityZip}
.education
  .section-title Education
  each edu, i in education
    .entry
      .row
        .left-third.title(contentEditable='true' ng-blur='vm.emit($event)') #{edu.name}
        .right-third(contentEditable='true' ng-blur='vm.emit($event)') #{edu.dateRange}
        .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{edu.location}
      unless !edu.major
        .subtitle(contentEditable='true' ng-blur='vm.emit($event)') #{edu.major}
      unless !edu.gpa
      .subtitle(contentEditable='true' ng-blur='vm.emit($event)') #{edu.gpa}
.employment
  .section-title Employment
  each employ, i in employment
    .entry
      .row
        .left-third.title(contentEditable='true' ng-blur='vm.emit($event)') #{employ.name}
        .right-third(contentEditable='true' ng-blur='vm.emit($event)') #{employ.dateRange}
        .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{employ.location}
      .subtitle(contentEditable='true' ng-blur='vm.emit($event)') #{employ.position}
      ul.bullets
        each note, i in employ.notes
          li.bullet(contentEditable='true' ng-blur='vm.emit($event)') #{note}
.skills
  .section-title Skills
  .entry
    each skill, i in skills
      case i % 3
        when 0
          .row
            .left-third.center
              span.bold(contentEditable='true' ng-blur='vm.emit($event)') #{skill.skill} #{skill.experience}
        when 1
            .right-third.center
              span.bold(contentEditable='true' ng-blur='vm.emit($event)') #{skill.skill} #{skill.experience}
        when 2
            .middle-third.center
              span.bold(contentEditable='true' ng-blur='vm.emit($event)') #{skill.skill} #{skill.experience}
.projects
  .section-title Projects
  each proj, i in projects
    .entry
      .row
        .left-third.title(contentEditable='true' ng-blur='vm.emit($event)') #{proj.name}
        .right-third(contentEditable='true' ng-blur='vm.emit($event)') #{proj.dateRange}
        .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{proj.location}
      .subtitle(contentEditable='true' ng-blur='vm.emit($event)') #{proj.role}
      ul.bullets
        each note, i in proj.notes
          li.bullet(contentEditable='true' ng-blur='vm.emit($event)') #{note}
.leadership
  .section-title Leadership
  each leader, i in leadership
    .entry
      .row
        .left-third.title(contentEditable='true' ng-blur='vm.emit($event)') #{leader.name}
        .right-third(contentEditable='true' ng-blur='vm.emit($event)') #{leader.dateRange}
        .middle-third(contentEditable='true' ng-blur='vm.emit($event)') #{leader.location}
      .subtitle(contentEditable='true' ng-blur='vm.emit($event)') #{leader.role}
      ul.bullets
        each note, i in leader.notes
          li.bullet(contentEditable='true' ng-blur='vm.emit($event)') #{note}